.restaurant-summary .shimmer-img {
  height: 15vw; /* Adjust based on viewport width */
  width: 25vw; /* Adjust based on viewport width */
  max-height: 150px;
  max-width: 250px;
  margin: 20px auto;
  border-radius: 5px;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
  animation: shimmer 3s infinite;
}

.shimmer-menu-card {
  display: flex;
  flex-direction: column; /* Change to column on small screens */
  justify-content: space-between;
  width: 90%; /* Use a percentage width to make it responsive */
  max-width: 848px; /* Maximum width for larger screens */
  padding: 10px;
  margin: 10px auto;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.shimmer-item-details {
  width: 100%; /* Full width on small screens */
  max-width: 438px; /* Maximum width for larger screens */
}

.shimmer-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%; /* Make wrapper responsive */
}

.shimmer-img-wrapper .shimmer-img {
  width: 15vw; /* Adjust based on viewport width */
  height: 13vw; /* Adjust based on viewport width */
  max-width: 110px; /* Maximum width */
  max-height: 96px; /* Maximum height */
  border-radius: 5px;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
  animation: shimmer 3s infinite;
}

.shimmer-img-wrapper .shimmer-btn {
  width: 15vw; /* Adjust based on viewport width */
  height: 5vw; /* Adjust based on viewport width */
  max-width: 110px; /* Maximum width */
  max-height: 34px; /* Maximum height */
  margin-top: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
  animation: shimmer 3s infinite;
}

.shimmer-menu-title {
  width: 80%; /* Adjust for smaller screens */
  max-width: 550px;
  margin-bottom: 40px;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
  animation: shimmer 3s infinite;
}

.shimmer-items {
  width: 50%; /* Adjust width for smaller screens */
  max-width: 150px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
  animation: shimmer 3s infinite;
}

.shimmer-menu-content, .shimmer-menu-count, .shimmer-w50, .shimmer-w20, .shimmer-w70 {
  width: 80%; /* Make widths responsive */
  margin-top: 10px;
  max-width: 70%; /* Maximum width to prevent overflow */
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
  animation: shimmer 3s infinite;
}

@media screen and (min-width: 768px) {
  .shimmer-menu-card {
      flex-direction: row; /* Switch to row layout on larger screens */
  }

  .shimmer-item-details {
      width: 50%;
  }

  .shimmer-img-wrapper {
      width: 30%;
  }

  .shimmer-menu-content, .shimmer-menu-count, .shimmer-w50, .shimmer-w20, .shimmer-w70 {
      width: auto;
      max-width: none;
  }
}

@media screen and (max-width: 320px) {
  .shimmer-menu-title, .shimmer-item-details, .shimmer-menu-card, .restaurant-summary, .shimmer-img {
      width: 90px; /* Smaller width for very small screens */
  }
}

/* Shimmer Animation */
@keyframes shimmer {
  from {
      background-position: -1000px 0;
  }
  to {
      background-position: 1000px 0;
  }
}
